*,
*::after,
*::before {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 780px;
    margin:  0 auto;
}